  <header class="stripe">
    <h1>Data Recovery</h1>
    <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
    <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
  </header>
  <div  id="main-content">
    <a name="main-service"></a>
    <div class="service">
          <p>
    We understand just how important data is and there is nothing worse then losing irreplaceable and precious data, and here at 
    <b>Cheaper Computer Care</b> we pride ourselves in using the latest, state of the art data forensics to provide an affordable and efficient 
    service for retrieving your lost data. We provide a fixed rate fee based on the size of your data drive, this means even if it takes our 
    engineers 2, 5 or even 24 hours to recover your data you won’t pay a penny more. With our prices starting at just £95.99 for sizes up 
    to 200GB we offer the most cost effective and convenient recovery service in the UK.      
        </p>

        <p>
          <b>What do we provide data recovery for?</b>
          <ul>
            <li>Accidental file deletion</li>
            <li>System corruption</li>
            <li>No longer booting</li>
            <li>Virus attack</li>
            <li>Operating system errors</li>
            <li>Complete formatting of a drive</li>
          </ul>
        </p>

        <p>
          <b>How we can help:</b><br>
          Data recovery is a process where we will extract the data lost from damaged, deleted, failed, corrupted or just inaccessible storage 
    media. We can recover data from all Windows and Mac systems and also, Internal and External Hard drives, USB Flash Dives, Memory 
    Cards and Camera storage.
        </p>

        <p>
          <b>How will it work?</b><br>
          As with all <b>Cheaper Computer Care</b> services, we want to make sure that the process is as simple and convenient for our customers 
    as possible, to achieve this we provide an efficient 5 step plan:
          <p>
          <b>Step 1 - </b>Select the Data Recovery service from the order page, and complete our easy questionnaire to book the services.<br>
          <b>Step 2 - </b>We arrange for free collection of your device (and we do not expect you to remove any hardware yourself).<br>
          <b>Step 3 - </b>On receipt of your device we get to work straight away using the latest technology to diagnose all recoverable data.<br>
          <b>Step 4 - </b>We will e-mail you a full file listing report so you know what to expect upon recovery.<br>
          <b>Step 5 - </b>All recovered files are uploaded to a secure personal folder for your immediate access. This will allow you to access and 
           download your files from anywhere in the world. <b>We are the first and only company to offer this service.</b>
          </p>
        </p>
        <% service = Service.where("lower(name) = 'data recovery'").first %>
        <% if service %>
          <% if service.can_checkout %>
            <a href="<%= new_order_path('service' => service.id) %>" class="btn btn-large btn-success">Click here to get started</a>
          <% else %>
            <a href="<%= quote_service_path(service.id) %>" class="btn btn-large btn-success">Click here to get started</a>
          <% end %>
        <% else %>
          <a href="<%= new_order_path %>" class="btn btn-large btn-success">Click here to get started</a>
        <% end %>
    </div>
  </div>