<div id="services" class="clearfix row">
  <article class="service">
    <div class="pull-left">
      <%= image_tag("bob-data-recovery.png") %>
    </div>
    <div>
      <h1>Data Recovery</h1>
      <p>
        Lost those family photos?
Deleted that important essay?
Do not fret we have the 
solution. Providing the most 
effective data recovery for 
Hard drives, USB Flash drives 
and even Camera Memory 
cards.
<% service = Service.where("lower(name) = 'data recovery'").first %>
<% if service %>
  <span class="yellow">Prices starting <%= number_to_currency(service.base_cost, unit: "&pound;", separator: ".", delimiter: "") %></span>
<% end %>
      </p>
    </div>    
    <a href="<%= data_recovery_services_path %>" class="btn btn-large">more info <i class='icon-arrow-right'></i></a>
  </article>
  <article class="service">
    <div class="pull-left">
      <%= image_tag("bob-replacement-parts.png") %>
    </div>    
    <div>
      <h1>Replacement Parts</h1>
      <p>
        Offering replacement parts 
for all major laptop and PC 
components whether it is as 
simple as a broken keyboard, 
or complete screen 
replacement we have the 
solution. 
      </p>
    </div>
    <a href="<%= replacement_parts_services_path %>" class="btn btn-large">more info <i class='icon-arrow-right'></i></a>
  </article>
  <article class="service">
    <div class="pull-left">
      <%= image_tag("bob-virus.png") %>
    </div>      
    <div>
      <h1>Virus Removal</h1>
      <p>
        When a virus or spyware has 
infect your computer it can be 
a real pain and inconvenience 
trying to put it right again. 
Let us get your PC back to 
its best.  
<% service = Service.where("lower(name) = 'virus removal'").first %>
<% if service %>
  <span class="yellow">Prices starting <%= number_to_currency(service.base_cost, unit: "&pound;", separator: ".", delimiter: "") %></span>      
<% end %>
      </p>
    </div>
    <a href="<%= virus_removal_services_path %>" class="btn btn-large">more info <i class='icon-arrow-right'></i></a>
  </article>
  <article class="service">
    <div class="pull-left">
      <%= image_tag("bob-servicing.png") %>
    </div>     
    <div>
      <h1>Servicing & Tune-up</h1>
      <p>
Our servicing and tune-up
package is second to none, 
our aim is to make your 
computer run as good as it 
did the day you bought it.
<% service = Service.where("lower(name) = 'servicing & tune-up'").first %>
<% if service %>
  <span class="yellow">Prices starting <%= number_to_currency(service.base_cost, unit: "&pound;", separator: ".", delimiter: "") %></span>
<% end %>
      </p>
    </div>
    <a href="<%= servicing_services_path %>" class="btn btn-large">more info <i class='icon-arrow-right'></i></a>
  </article>
  <article class="service">
    <div class="pull-left">
      <%= image_tag("bob-upgrades.png") %>
    </div>     
    <div>
      <h1>Upgrades</h1>
      <p>
Running out of space? Do 
you need a bigger hard drive 
or faster memory? We offer 
free upgrade consultation 
and guarantee to provide 
the most cost effective 
solution for your computer 
needs.
      </p>
    </div>
    <a href="<%= upgrades_services_path %>" class="btn btn-large">more info <i class='icon-arrow-right'></i></a>
  </article>
  <article class="service">
    <div class="pull-left">
      <%= image_tag("bob-fault-finding.png") %>
    </div>     
    <div>
      <h1>Fault Finding & Repairs</h1>
      <p>
No problem is too big or too 
small for our team. Our aim is 
make your computer run 
smooth again and clear out 
any problems you may be 
having.    
<% service = Service.where("lower(name) = 'fault finding & repairs'").first %>
<% if service %>
  <span class="yellow">Prices starting <%= number_to_currency(service.base_cost, unit: "&pound;", separator: ".", delimiter: "") %></span>    
<% end %>
      </p>
    </div>
    <a href="<%= repairs_services_path %>" class="btn btn-large">more info <i class='icon-arrow-right'></i></a>
  </article>          
</div>