<header class="stripe">
  <h1>Upgrades</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
</header>
<div  id="main-content">
  <div class="service">
    <p>
      Computers and laptops should be maintained and invested in to sustain longevity and performance. So you may simply require larger memory, a faster processor, greater hard drive space or an operating system upgrade. But whatever your upgrade needs, chances are you should do it, as not maintaining an up to date system can lead to problems that may cause damage and future complications.
    </p>
    <p>
      This is where Cheaper Computer Care comes in. For a comprehensive <b>no obligation</b> upgrade report answer a few simple questions and we will send you a report advising the most cost effective options available to you. 
    </p>

    <% service = Service.where("lower(name) = 'upgrades'").first %>
    <% if service %>
      <% if service.can_checkout %>
        <a href="<%= new_order_path('service' => service.id) %>" class="btn btn-large btn-success">Click here to get started</a>
      <% else %>
        <a href="<%= quote_service_path(service.id) %>" class="btn btn-large btn-success">Click here to get started</a>
      <% end %>
    <% else %>
      <a href="<%= new_order_path %>" class="btn btn-large btn-success">Click here to get started</a>
    <% end %>
  </div>
</div>