<div id="main-content">
  <header>
    <h1>Services</h1>
  </header>
  <div class="service">
    <%= link_to "back", admin_dashboard_path %>
    <table border="1" cellpadding="10">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Base Cost</th>
        <th>Can be Checked Out</th>
        <th>Created At</th>
        <th>ID</th>
        <th></th>
      </tr>
      <% @services.each_with_index do |service, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= service.name %></td>
          <td><%= service.base_cost %></td>
          <td><%= service.can_checkout %></td>
          <td><%= service.created_at %></td>
          <td><%= service.id %></td>
          <td><%= link_to("view", admin_service_path(service.id)) %></td>
        </tr>
      <% end %>
    </table>      
    <%= link_to "new service", new_admin_service_path %>
  </div>
</div>
