<header class="stripe">
  <h1>Services</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>  
</header>
<div id="main-content">
  <div class="service">
    <%= link_to "back", admin_services_path %><br>
    <%= form_for [:admin, @service] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :base_cost %>
      <%= f.number_field :base_cost, :step=>"0.01" %><br>
      <%= f.label :can_checkout %>
      <%= f.check_box :can_checkout %><br><br>
      <%= f.submit :submit, :class => "btn" %>
    <% end %>
  </div>
</div>
