<header class="stripe">
  <h1><%= @service.name %> Service</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>  
</header>
<div id="main-content">
  <div class="service">
    <%= link_to "back", admin_services_path %>
    <h5>Service Details</h5>
    <ul>
      <li>Service name: <%= @service.name %></li>
      <li>Cost: <%= number_to_currency(@service.base_cost, unit: "&pound;", separator: ".", delimiter: "")  %></li>
      <li><b><%= @service.can_checkout ? "Can be Checked Out" : "Can Not be Checked Out" %></b></li>
    </ul>

    <h5>Service Options</h5>
      <ol>
        <% @options.each do |option| %>
          <li>
            <%= option.name.capitalize %> - <%= option.label %> (<%= link_to "remove", admin_service_service_option_path(@service.id, option.id), :method => :delete %>)
            <% if !option.is_arbitrary %>
              <h5>Values:</h5>
              <ul>
                <% option.service_option_values.each do |value| %>
                <li><%= value.name %> - <%= number_to_currency(value.additional_cost, unit: "&pound;", separator: ".", delimiter: "") %> (<%= link_to "remove", admin_service_service_option_service_option_value_path(@service.id, option.id, value.id), :method => "delete" %>)</li>
                <% end %>
                <li><%= link_to "Add Option Value", new_admin_service_service_option_service_option_value_path(@service.id, option.id), :class => "add-option" %></li>
              </ul>
            <% else %>
              <% if !option.placeholder.blank? %>
                <ul>
                  <li>Placeholder: <%= option.placeholder %></li>
                </ul>
              <% end %>
            <% end %>
          </li>
        <% end %>
        <li><%= link_to "Add Option", new_admin_service_service_option_path(@service.id), :class => "add-option" %></li>
      </ol>

    <br>
    <%= button_to("Edit Service", edit_admin_service_path(@service.id), :method => :get, :class => "btn") %>    
    <%= button_to("Delete Service", admin_service_path(@service.id), :method => :delete, :class => "btn") %>
  </div>
</div>
