<div id="main-content">
  <header>
    <h1><%= @service.name %> Service</h1>
  </header>
  <div class="service">
    <%= link_to "back", admin_dashboard_path %>
    <h5>Service Details</h5>
    <ul>
      <li>Service name: <%= @service.name %></li>
      <li>Cost: <%= @service.base_cost %></li>
    </ul>

    <h5>Service Options</h5>
      <ol>
        <% @options.each do |option| %>
          <li>
            <%= option.name.capitalize %> (<%= link_to "remove", admin_service_service_option_path(@service.id, option.id), :method => :delete %>)
            <% if !option.is_arbitrary %>
              <h5><%= option.name.capitalize %> Option Values:</h5>
              <ul>
                <% option.service_option_values.each do |value| %>
                <li><%= value.name %> (<%= link_to "remove", admin_service_service_option_service_option_value_path(@service.id, option.id, value.id), :method => "delete" %>)</li>
                <% end %>
                <li><%= link_to "Add Option Value", new_admin_service_service_option_service_option_value_path(@service.id, option.id) %></li>
              </ul>
            <% end %>
          </li>
        <% end %>
        <li><%= link_to "Add Option", new_admin_service_service_option_path(@service.id) %></li>
      </ol>

    <br>
    <%= button_to("Delete Service", admin_service_path(@service.id), :method => :delete, :class => "btn") %>
  </div>
</div>
