<header class="stripe">
  <h1>Student Discount</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>    
</header>
<div id="main-content">
  <div class="service">
  <p>
    Enter your university email address below to receive your discount code.
  </p>
  <div class="alert alert-info"><p>Note: you must have an academic email address to qualify</p></div>
  <% if @discount_code.errors.any? %>
    <div class="alert alert-error">
      <p>Error: make sure you have provided a valid UK student email address (ending in .ac.uk) and your full name</p>
    </div>
  <% end %>  
  <%= form_for @discount_code do |f| %>
    <%= f.text_field :name, :placeholder => "name" %><br>
    <%= f.email_field :email, :placeholder => "email" %><br>
    <%= f.hidden_field :is_valid, :value => true %>
    <%= f.submit :submit, :class => "btn" %>
  <% end %>
  </div>
</div>