<div id="main-content">
  <header>
    <h1>Student Discount</h1>
  </header>
  <div class="service">
  <p>
    Enter your university email address below to receive your student discount code.
  </p>
  <% if @discount_code.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@discount_code.errors.count, "error") %> prohibited this discount code from being saved:</h4>

      <ul>
      <% @discount_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <%= form_for @discount_code do |f| %>
    <%= f.text_field :name, :placeholder => "name" %><br>
    <%= f.email_field :email, :placeholder => "email" %><br>
    <%= f.hidden_field :is_valid, :value => true %>
    <%= f.submit :submit, :class => "btn" %>
  <% end %>
  <div>
</div>