<script type="text/javascript">
  Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');
</script>
<header class="stripe">
  <h1>Service Quote</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>  
</header>  
<div class="main-content">
  <div class="service">
    <h4>Quoted Cost: <%= number_to_currency(@order.total_cost, unit: "&pound;", separator: ".", delimiter: "") %></h4>
    <div class="well">
      <% @order.order_services.each do |service| %>
        <% service_name = Service.find(service.service_id).name %>
        <b><%= service_name %></b><br>
        <% service.order_service_options.each do |option| %>
          <% service_option = ServiceOption.find(option.service_option_id) %>
          <% option_name = service_option.name %>
          <% if service_option.is_arbitrary %>
            <%= option_name %>: <%= option.value %><br>
          <% else %>
            <% value = ServiceOptionValue.find(option.value) %>
            <%= option_name %>: <%= value.name %><br>
          <% end %>
        <% end %>
        <br>
      <% end %>
    </div>    
    <div class="well column first">
      <ul class="unstyled">
        <li>First Name: <%= @order.first_name %></li>
        <li>Last Name: <%= @order.last_name %></li>
        <li>Email: <%= @order.email %></li>
        <li>Telephone: <%= @order.telephone %></li>
      </ul>     
    </div>        
    <div class="well column">
      <ul class="unstyled">
        <li>Building: <%= @order.building %></li>
        <li>Street: <%= @order.street %></li>        
        <li>Town: <%= @order.town %></li>
        <li>Postcode: <%= @order.postcode %></li>
      </ul>         
    </div>
    <div style="clear:both;"></div>
    <hr>
    <div class="well">
      <b>Collection Date:</b> <%= @order.date.strftime("%d/%m/%Y") if @order.date %>
      <p>Please select a convenient day for collection:</p>
      <%= select_date(Time.now.tomorrow, :prefix => "date-fallback") %>
      <div id="datepicker"></div>
      <script type="text/javascript">  
        $(function() {
          var min_date = <%= @can_collect_today ? "0" : "1" %>;
          // get rid of the no js fallback
          $("#date-fallback_year").remove();
          $("#date-fallback_month").remove();
          $("#date-fallback_day").remove();
          $("#date").removeAttr("disabled");
          $( "#datepicker" ).datepicker({
            minDate: +parseInt(min_date), 
            altField: '#date'
          });
          <% if session[:date] %>
            $("#date").val("<%= session[:date] %>");
          <% end %>
        });
      </script>
    </div>
  </div>
</div>
<div class="main-content invoice" id="payment">
  <div class="well">
    <noscript class="alert alert-error" style="display:block;">
      <p><b>Javascript must be enabled to continue</b></p>
      <p>We're sorry but at this moment Javascript is required for payment.  Please enable it in your browser settings and refresh the page.</p>
      <p>Alternatively, get in <%= link_to "contact", contact_path %> quoting your order number (<%= @order.id %>) and we can arrange another payment option.</p>
    </noscript>
    <%= form_tag payment_order_invoice_path(@order.id), :method => :post, :class => "payment" do %>
      <input type="hidden" name="date"  id="date" disabled="disabled" value="<%= !@order.date.blank? ? "#{@order.date.month}/#{@order.date.day}/#{@order.date.year}" : "" %>"/>
      <input type="hidden" name="stripe-token" id="stripe-token" value="" />
      <h3><%= image_tag("lock.png") %> Secure credit card payment</h3>
      <br>          
      <div id="stripe-error" class="alert alert-error" style="display:none;"></div>
      <% if @errors.any? %>
        <div class="alert alert-error">
            <% @errors.each do |err| %>
              <p><%= err %></p>
            <% end %>
        </div>
      <% end %>      
      <fieldset>
        <div class="field">          
          <label for="card_number"><span class="red">*</span>Credit Card Number</label>
          <label for="card_number"><span class="grey">The 16 digits on the front of your credit card</span></label>
          <div id="card_num">
            <%= text_field_tag :card_number, nil, name: nil %>
            <%= image_tag("visa_icon.png", :class => "card-icon") %>
            <%= image_tag("mastercard_icon.png", :class => "card-icon")%>
            <%= image_tag("aexpress_icon.png", :class => "card-icon") %>
          </div>
        </div>
        <div class="field">
          <label for="card_month"><span class="red">*</span>Expiration date</label>
          <label for="card_month"><span class="grey">The date your credit card expires.  Find this on the front of your credit card</span></label>
          <!--<%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>-->
          <%= select_tag nil, raw(expiry_month_options), {name: nil, id: "card_month"} %>          
          <!--<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>-->
          <%= select_tag nil, raw(expiry_year_options), {name: nil, id: "card_year"} %>
        </div>
        <div class="field">
          <label for="card_code"><span class="red">*</span>Security Code <span class="grey">(or "CVC" or "CVV")</span></label>          
          <label for="card_code"><span class="grey">The last 3 digits displayed on the back of your credit card</span></label>
          <%= text_field_tag :card_code, nil, name: nil %>
        </div>        
        <label class="checkbox accept error">
          <input type="checkbox" class="required agreement" name="accept_terms"> I have read and agree with the <a href="#">Terms & Conditions</a>
        </label>
        <br>      
        <%= submit_tag :complete, :class => "btn btn-large btn-primary", :id => "summary-next" %>
      </fieldset>
    <% end %>
  </div>
</div>
<footer class="stripe no-margin">
  <div class="img-shadow left top"><%= image_tag("shadow-top-left.png") %></div>
  <div class="img-shadow right top"><%= image_tag("shadow-top-right.png") %></div>     
</footer> 