<div id="main-content">
  <header>
    <h1>Orders</h1>
  </header>
  <div class="service">
    <%= link_to "back", admin_dashboard_path %>
    <table border="1" cellpadding="10">
      <tr>
        <th>Order ID</th>
        <th>Order Received</th>
        <th>Total Cost</th>
        <th>Customer Email</th>
        <th>Paid</th>
        <th></th>
      </tr>
      <% @orders.each_with_index do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.created_at %></td>
          <td><%= number_to_currency(order.total_cost, unit: "&pound;", separator: ".", delimiter: "") %></td>
          <td><%= order.email %></td>
          <td><%= order.paid %></td>
          <td><%= link_to("view", admin_order_path(order.id)) %></td>
        </tr>
      <% end %>
    </table>      
  </div>
</div>
