<div id="main-content">
  <header>
    <h1>Order <%= @order.id %></h1>
  </header>
  <div class="service">
    <%= link_to "back", admin_orders_path %>
    <h5>Order Details</h5>
    <div class="well">
      <b>Order placed: </b> <%= @order.created_at.strftime("%H:%M %d/%m/%Y") %>
    </div>
    <div class="well">
      <ul class="unstyled">
        <li>First Name: <%= @order.first_name %></li>
        <li>Last Name: <%= @order.last_name %></li>
        <li>Email: <%= @order.email %></li>
        <li>Telephone: <%= @order.telephone %></li>
      </ul>     
    </div>
    <div class="well">
      <ul class="unstyled">
        <li>Building: <%= @order.building %></li>
        <li>Street: <%= @order.street %></li>        
        <li>Town: <%= @order.town %></li>
        <li>Postcode: <%= @order.postcode %></li>
      </ul>         
    </div>
    <div class="well">
      <b>Delivery Date:</b> <%= @order.date.strftime("%H:%M %d/%m/%Y") %>
    </div>
    <div class="well">
      <% @order.order_services.each do |service| %>
        <% service_name = Service.find(service.service_id).name %>
        <b><%= service_name %></b><br>
        <% service.order_service_options.each do |option| %>
          <% option_name = ServiceOption.find(option.service_option_id).name %>
          <%= option_name %>: <%= option.value %><br>
        <% end %>
        <br>
      <% end %>
    </div>    
  </div>
</div>
