<header class="stripe">
  <h1>Order <%= @order.id %></h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>    
</header>
<div id="main-content">
  <div class="service">
    <%= link_to "back", admin_orders_path %>
    <h5>Order Details</h5>
    <% if @order.paid %>
      <div class="alert alert-success">
        <strong>PAID</strong>
      </div>
    <% else %>
      <div class="alert alert-error">
        <strong>UNPAID</strong>
      </div>
    <% end %>
    <div class="well">
      <b>Order placed: </b> <%= @order.created_at.strftime("%H:%M %d/%m/%Y") %><br>
      <b>Total cost: </b> <%= number_to_currency(@order.total_cost, unit: "&pound;", separator: ".", delimiter: "") %>
    </div>
    <div class="well">
      <ul class="unstyled">
        <li>First Name: <%= @order.first_name %></li>
        <li>Last Name: <%= @order.last_name %></li>
        <li>Email: <%= @order.email %></li>
        <li>Telephone: <%= @order.telephone %></li>
      </ul>     
    </div>
    <div class="well">
      <ul class="unstyled">
        <li>Building: <%= @order.building %></li>
        <li>Street: <%= @order.street %></li>        
        <li>Town: <%= @order.town %></li>
        <li>Postcode: <%= @order.postcode %></li>
      </ul>         
    </div>
    <div class="well">
      <b>Collection Date:</b> <%= @order.date.strftime("%d/%m/%Y") if @order.date %>
    </div>
    <div class="well">
      <% @order.order_services.each do |service| %>
        <% begin %>
          <% service_obj = Service.find(service.service_id) %>
        <% rescue %>
          <b>Service Deleted</b>
          <% next %>
        <% end %>
        <% service_name = service_obj.name %>
        <b><%= service_name %></b><br>
        <% service.order_service_options.each do |option| %>
          <% begin %>
            <% service_option = ServiceOption.find(option.service_option_id) %>
          <% rescue %>
            <b>Option Deleted</b>
            <% next %>
          <% end %>
          <% option_name = service_option.name %>
          <% if service_option.is_arbitrary %>
            <%= "#{option_name}: " if !option_name.blank? %><%= option.value %><br>
          <% else %>
            <% value = ServiceOptionValue.find(option.value) %>
            <%= "#{option_name}: " if !option_name.blank? %><%= value.name %><br>
          <% end %>
        <% end %>
        <br>
      <% end %>
    </div>    
  </div>
  <% if !@order.paid %>
    <%= link_to "view invoice", order_invoice_path(@order.id), :class => "btn btn-large btn-primary" if !@order.invoice.blank? %>
    <%= button_to "generate invoice", admin_order_invoice_path(@order.id), :method => :post, :class => "btn btn-large btn-primary" if @order.invoice.blank? %>
  <% end %>
</div>
