<header class="stripe">
  <h1>Confirm</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>  
</header>  
<div id="main-content">
  <div class="service">
    <% quote_services = @options.select do |service_id, option_values| %>
      <% service = Service.find(service_id) %>
      <% !service.can_checkout %>
    <% end %>
    <% if quote_services.any? %>
      <div class="alert alert-info">
        <h4>Note:</h4>
        You have selected service(s) that require additional costs.<br>
        Place the order by clicking the button below and we will be in contact shortly with a quote. 
      </div>
    <% end %>    
    <div class="well">
      <ul class="unstyled">
        <li><%= @order.first_name %></li>
        <li><%= @order.last_name %></li>
        <li><%= @order.email %></li>
        <li><%= @order.telephone %></li>
      </ul>     
    </div>
    <div class="well">
      <ul class="unstyled">
        <li><%= @order.building %> <%= @order.street %></li>
        <li><%= @order.town %></li>
        <li><%= @order.postcode %></li>
      </ul>         
    </div>
    <div class="well">
      <b>Delivery Date:</b> <%= @order.date.strftime("%H:%M %d/%m/%Y") %>
    </div>
    <div class="well">
      <% total = 0.0 %>
      <% @options.each do |service_id, option_values| %>
        <% service = Service.find(service_id) %>
        <% total += service.base_cost %>
        <% service_name = service.name %>
        <b><%= service_name %> - <%= number_to_currency(service.base_cost, unit: "&pound;", separator: ".", delimiter: "") %></b><br>
        <% option_values.each do |service_option, value| %>
          <% option = ServiceOption.find(service_option) %>

          <% if option.is_arbitrary %>
            <% if !value.blank? %>
              <%= option.name %>: <%= value %><br>
            <% end %>
          <% else %>
            <% option_value = ServiceOptionValue.find(value) %>
            <% total += option_value.additional_cost %>
            <%= option.name %>: <%= option_value.name %> - <%= number_to_currency(option_value.additional_cost, unit: "&pound;", separator: ".", delimiter: "") %><br>
          <% end %>
        <% end %>
        <br>
      <% end %>
      <b>Total Cost:</b> <%= number_to_currency(total, unit: "&pound;", separator: ".", delimiter: "") %>
    </div> 
    <%= form_tag finalize_orders_path, :method => :post do %>
      <input type="hidden" name="order[building]" value="<%= @order.building %>">
      <input type="hidden" name="order[email]" value="<%= @order.email %>">
      <input type="hidden" name="order[first_name]" value="<%= @order.first_name %>">
      <input type="hidden" name="order[last_name]" value="<%= @order.last_name %>">
      <input type="hidden" name="order[postcode]" value="<%= @order.postcode %>">
      <input type="hidden" name="order[street]" value="<%= @order.street %>">
      <input type="hidden" name="order[telephone]" value="<%= @order.telephone %>">
      <input type="hidden" name="order[town]" value="<%= @order.town %>">
      <input type="hidden" name="order[date]" value="<%= @order.date %>">
      <% @options.each do |service_id, option_values| %>
        <% option_values.each do |service_option, value| %>
          <% option = ServiceOption.find(service_option) %>
          <% if option.is_arbitrary %>
            <input type="hidden" name="options[<%= service_id %>][<%= service_option %>]" value="<%= value %>">
          <% else %>
            <% option_value = ServiceOptionValue.find(value) %>
            <input type="hidden" name="options[<%= service_id %>][<%= service_option %>]" value="<%= option_value.id %>">
          <% end %>
        <% end %>
      <% end %>      
      <%= submit_tag "place order", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>