<div id="main-content">
  <header>
    <h1>Confirm</h1>
  </header>  
  <div class="service">
    <div class="well">
      <ul class="unstyled">
        <li><%= @order.first_name %></li>
        <li><%= @order.last_name %></li>
        <li><%= @order.email %></li>
        <li><%= @order.telephone %></li>
      </ul>     
    </div>
    <div class="well">
      <ul class="unstyled">
        <li><%= @order.building %> <%= @order.street %></li>
        <li><%= @order.town %></li>
        <li><%= @order.postcode %></li>
      </ul>         
    </div>
    <div class="well">
      <b>Delivery Date:</b> <%= @order.date.strftime("%H:%M %d/%m/%Y") %>
    </div>
    <div class="well">
      <% @options.each do |service_id, option_values| %>
        <% service_name = Service.find(service_id).name %>
        <b><%= service_name %></b><br>
        <% option_values.each do |service_option, value| %>
          <% option = ServiceOption.find(service_option) %>

          <% if option.is_arbitrary %>
            <%= option.name %>: <%= value %><br>
          <% else %>
            <% option_value = ServiceOptionValue.find(value).name %>
            <%= option.name %>: <%= option_value %><br>
          <% end %>
        <% end %>
        <br>
      <% end %>
    </div>
    <%= form_tag finalize_orders_path, :method => :post do %>
      <input type="hidden" name="order[building]" value="<%= @order.building %>">
      <input type="hidden" name="order[email]" value="<%= @order.email %>">
      <input type="hidden" name="order[first_name]" value="<%= @order.first_name %>">
      <input type="hidden" name="order[last_name]" value="<%= @order.last_name %>">
      <input type="hidden" name="order[postcode]" value="<%= @order.postcode %>">
      <input type="hidden" name="order[street]" value="<%= @order.street %>">
      <input type="hidden" name="order[telephone]" value="<%= @order.telephone %>">
      <input type="hidden" name="order[town]" value="<%= @order.town %>">
      <input type="hidden" name="order[date]" value="<%= @order.date %>">
      <% @options.each do |service_id, option_values| %>
        <% option_values.each do |service_option, value| %>
          <% option = ServiceOption.find(service_option) %>
          <% if option.is_arbitrary %>
            <input type="hidden" name="options[<%= service_id %>][<%= service_option %>]" value="<%= value %>">
          <% else %>
            <% option_value = ServiceOptionValue.find(value).name %>
            <input type="hidden" name="options[<%= service_id %>][<%= service_option %>]" value="<%= option_value %>">
          <% end %>
        <% end %>
      <% end %>      
      <%= submit_tag "place order", :class => "btn btn-large" %>
    <% end %>
  </div>
</div>