<div id="order-form">
  <header class="stripe order">
    <span>1</span><h1>Service Selection</h1>
  </header>
  <header class="stripe no-margin order">
    <span>2</span><h1>Customer Information</h1>
  </header>
  <header class="stripe no-margin order">
    <span>3</span><h1>Collection Arrangements</h1>
  </header> 
  <header class="stripe no-margin order active">
    <span>4</span><h1>Summary</h1>
    <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
    <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
  </header>
  <fieldset class="main-content" id="summary">
    <% if !@accepted %>
      <div class="alert alert-error">
        <h5>You must accept the <a href="#">Terms & Conditions</a> below before continuing</h5> 
      </div>
    <% end %>    


    <%= form_tag orders_path do %>
      <input type="hidden" name="building" value="<%= @order.building %>">
      <input type="hidden" name="email" value="<%= @order.email %>">
      <input type="hidden" name="first-name" value="<%= @order.first_name %>">
      <input type="hidden" name="last-name" value="<%= @order.last_name %>">
      <input type="hidden" name="postcode" value="<%= @order.postcode %>">
      <input type="hidden" name="street" value="<%= @order.street %>">
      <input type="hidden" name="telephone" value="<%= @order.telephone %>">
      <input type="hidden" name="town" value="<%= @order.town %>">
      <input type="hidden" name="complete_date" value="<%= @order.date %>">
      <% @options.each do |service_id, option_values| %>
        <% option_values.each do |service_option, value| %>
          <% option = ServiceOption.find(service_option) %>
          <% if option.is_arbitrary %>
            <input type="hidden" name="options[<%= service_id %>][<%= service_option %>]" value="<%= value %>">
          <% else %>
            <% option_value = ServiceOptionValue.find(value) %>
            <input type="hidden" name="options[<%= service_id %>][<%= service_option %>]" value="<%= option_value.id %>">
          <% end %>
        <% end %>
      <% end %>
      <% unless @discount && @discount.is_valid %>
        <div class="well">
          <h4>Have a discount code?</h4>
          <% if (params["discount"] && @discount.nil?) || (!@discount.nil? && !@discount.is_valid) %>
            <div class="alert alert-error">
              <p>Your discount code is not valid</p>
            </div>
          <% end %>
          <p>Enter it here:</p>
          <input type="text" id="discount" name="discount">
          <%= submit_tag "update total", :class => "btn" %>          
        </div>
      <% end %>
    <% end %>


    <div class="well">
      <% total = 0.0 %>
      <% @options.each do |service_id, option_values| %>
        <% service = Service.find(service_id) %>
        <% total += service.base_cost %>
        <% service_name = service.name %>
        <b><%= service_name %> - <%= number_to_currency(service.base_cost, unit: "&pound;", separator: ".", delimiter: "") %></b><br>
        <% option_values.each do |service_option, value| %>
          <% option = ServiceOption.find(service_option) %>

          <% if option.is_arbitrary %>
            <% if !value.blank? %>
              <%= option.name %>: <%= value %><br>
            <% end %>
          <% else %>
            <% option_value = ServiceOptionValue.find(value) %>
            <% total += option_value.additional_cost %>
            <%= option.name %>: <%= option_value.name %> - <%= number_to_currency(option_value.additional_cost, unit: "&pound;", separator: ".", delimiter: "") %><br>
          <% end %>
        <% end %>
        <br>
      <% end %>
      <% if @discount && @discount.is_valid %>
        <b>Discount: 15%</b><br>
        <b>Total Cost:</b> <%= number_to_currency(total - (total * 0.15), unit: "&pound;", separator: ".", delimiter: "") %>
      <% else %>
        <b>Total Cost:</b> <%= number_to_currency(total, unit: "&pound;", separator: ".", delimiter: "") %>
      <% end %>
    </div>     
    <div class="well">
      <ul class="unstyled">
        <li><b>Customer Information:</b></li>
        <li><%= @order.first_name %></li>
        <li><%= @order.last_name %></li>
        <li><%= @order.email %></li>
        <li><%= @order.telephone %></li>
      </ul>     
    </div>
    <div class="well">
      <ul class="unstyled">
        <li><b>Collection Date:</b> <%= @order.date.strftime("%d/%m/%Y") %></li>
        <li><b>Collection Address:</b></li>
        <li><%= @order.building %> <%= @order.street %></li>
        <li><%= @order.town %></li>
        <li><%= @order.postcode %></li>
      </ul>         
    </div>
    <%= form_tag finalize_orders_path, :method => :post do %>
      <input type="hidden" name="order[building]" value="<%= @order.building %>">
      <input type="hidden" name="order[email]" value="<%= @order.email %>">
      <input type="hidden" name="order[first_name]" value="<%= @order.first_name %>">
      <input type="hidden" name="order[last_name]" value="<%= @order.last_name %>">
      <input type="hidden" name="order[postcode]" value="<%= @order.postcode %>">
      <input type="hidden" name="order[street]" value="<%= @order.street %>">
      <input type="hidden" name="order[telephone]" value="<%= @order.telephone %>">
      <input type="hidden" name="order[town]" value="<%= @order.town %>">
      <input type="hidden" name="order[date]" value="<%= @order.date %>">
      <% @options.each do |service_id, option_values| %>
        <% option_values.each do |service_option, value| %>
          <% option = ServiceOption.find(service_option) %>
          <% if option.is_arbitrary %>
            <input type="hidden" name="options[<%= service_id %>][<%= service_option %>]" value="<%= value %>">
          <% else %>
            <% option_value = ServiceOptionValue.find(value) %>
            <input type="hidden" name="options[<%= service_id %>][<%= service_option %>]" value="<%= option_value.id %>">
          <% end %>
        <% end %>
      <% end %>
      <label class="checkbox accept error">
        <input type="checkbox" class="required agreement" name="accept_terms"> I have read and agree with the <a href="#">Terms & Conditions</a>
      </label>
      <br>
      <a href="<%= new_order_path(:back => "true") %>" class="btn back">back</a>
      <%= submit_tag "next", :class => "btn btn-primary", :id=>"complete-order" %>
    <% end %>    
  </fieldset>
  <header class="stripe no-margin order">
    <span>5</span><h1>Payment</h1>    
  </header>        
  <footer class="stripe no-margin">   
  </footer>
</div>
