<script type="text/javascript">
  var missing = [<%= raw @missing.to_json %>];
  var invalid = [<%= raw @invalid.to_json %>];
</script>
<div>
    <% @missing.each do |field| %>
      <div class="label label-important"><%= field %> is missing</div>
    <% end %>
    <%= form_tag orders_path, :method => :post do %>
      <header class="stripe">
        <h1>One</h1>
        <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
        <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
      </header>    
      <fieldset class="main-content">
        <% @services.each do |service| %>
          <div class="checkout-service">
            <label class="checkbox">
              <input type="checkbox" class="service" data-can-checkout="<%= service.can_checkout %>" name="services[]" value="<%= service.id %>"> <%= service.name %>
            </label>  
            <div class="options" style="display:none;">
              <% service.service_options.each do |option| %> 
                <% if option.is_arbitrary %>
                  <label for="<%= option.id %>"><%= option.name %></label>
                  <input type="text" id="<%= option.id %>" name="options[<%= service.id %>][<%= option.id %>]" value="" disabled>
                <% else %>
                  <label for="<%= option.id %>"><%= option.name %></label>
                  <%= select_tag("options[#{service.id}][#{option.id}]", options_from_collection_for_select(option.service_option_values, "id", "name"), :disabled => true) %>
                <% end %>
              <% end %>
            </div>
          </div>     
        <% end %>
      </fieldset>
      <header class="stripe no-margin">
        <h1>Two</h1>
        <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
        <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
        <div class="img-shadow left top"><%= image_tag("shadow-top-left.png") %></div>
        <div class="img-shadow right top"><%= image_tag("shadow-top-right.png") %></div>
      </header>        
      <fieldset class="main-content">
        <input type="text" name="first-name" placeholder="First Name" value=<%= params["first-name"] %>><br>
        <input type="text" name="last-name" placeholder="Last Name" value=<%= params["last-name"] %>><br>
        <input type="text" name="email" placeholder="Email" value=<%= params["email"] %>><br>
        <input type="text" name="telephone" placeholder="Telephone Number" value=<%= params["telephone"] %>><br>
        <input type="text" name="building" placeholder="Building Number" value=<%= params["building"] %>><br>
        <input type="text" name="street" placeholder="Street" value=<%= params["street"] %>><br>
        <input type="text" name="town" placeholder="Town" value=<%= params["town"] %>><br>
        <input type="text" name="postcode" placeholder="Post Code" value=<%= params["postcode"] %>><br>
      </fieldset>
      <header class="stripe no-margin">
        <h1>Three</h1>
        <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
        <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
        <div class="img-shadow left top"><%= image_tag("shadow-top-left.png") %></div>
        <div class="img-shadow right top"><%= image_tag("shadow-top-right.png") %></div>        
      </header>      
      <fieldset class="main-content">
        Please select a convient day for collection:
        <div id="datepicker"></div>
        <input type="hidden" name="date"  id="date"/>
        Please select a convient time for collection:<br>
        <%= select_time(nil, :prefix => "time") %>
      </fieldset>
      <header class="stripe no-margin">
        <h1>Four</h1>
        <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
        <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
        <div class="img-shadow left top"><%= image_tag("shadow-top-left.png") %></div>
        <div class="img-shadow right top"><%= image_tag("shadow-top-right.png") %></div>        
      </header>        
      <fieldset class="main-content" id="payment">
        <input type="text" name="card-num" placeholder="Credit Card Number" value=""><br>
        <input type="text" name="card-num" placeholder="Verification Code" value=""><br>
        <input type="text" name="card-num" placeholder="Expiry Date" value=""><br>
        <%= submit_tag :continue, :class => "btn btn-large btn-primary" %>        
      </fieldset>
    <% end %>
</div>