<script type="text/javascript">
  var missing = [<%= raw @missing.to_json %>];
  var invalid = [<%= raw @invalid.to_json %>];
</script>
<div id="order-form" class="first <%= 'reverse' if params[:back] %>">
    <% if @missing.any? || @invalid.any? %>
      <div id="errors" class="well">
        <h5>Please fix the following errors before continuing:</h5>
        <% @missing.each do |field| %>
          <div class="alert alert-error">
            <p><strong><%= field.capitalize %></strong> is missing</p>
          </div>
        <% end %>
        <% @invalid.each do |field| %>
          <div class="alert alert-error">
            <p><strong><%= field.capitalize %></strong> is not valid</p>
          </div>
        <% end %>  
      </div> 
    <% end %> 
    <%= form_tag orders_path, :method => :post, :class => "form-horizontal #{@missing.any? || @invalid.any? ? 'error' : ''}" do %>
      <header class="stripe order <%= 'active' if !params[:back] %>">
        <span>1</span><h1>Service Selection</h1>
        <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
        <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
      </header>
      <fieldset class="main-content" id="options">
        <p>Please select your required services below:</p>
        <% @services.each do |service| %>
          <div class="checkout-service <%= "selected" if @options.has_key?(service.id.to_s) %>">
            <label class="checkbox">
              <input type="checkbox" class="service" data-base="<%= service.base_cost %>" data-can-checkout="<%= service.can_checkout %>" name="services[]" value="<%= service.id %>" <%= "checked" if is_checked(session["options"], service.id.to_s) %>> <%= service.name %>
            </label>  
            <div class="options well" style=<%= "display:none;" if !@options.has_key?(service.id.to_s) %>>
              <% service.service_options.each do |option| %> 
                <% if option.is_arbitrary %>
                  <label for="<%= option.id %>"><%= option.name %></label>
                  <!--<input type="text" id="<%= option.id %>" name="options[<%= service.id %>][<%= option.id %>]" value="" disabled>-->
                  <% placeholder = option.placeholder.blank? ? "" : option.placeholder %>
                  <textarea id="<%= option.id %>" name="options[<%= service.id %>][<%= option.id %>]" placeholder="<%= placeholder %>" <%= "disabled" if !@options.has_key?(service.id.to_s) %>><%= session["options"][service.id.to_s][option.id.to_s] if session["options"] and session["options"].any? && session["options"][service.id.to_s] %></textarea>
                <% else %>
                  <label for="<%= option.id %>"><%= option.name %></label>
                  <!--<%= select_tag("options[#{service.id}][#{option.id}]", options_from_collection_for_select(option.service_option_values, "id", "name"), :disabled => true) %>-->
                  <select id="<%= option.id %>" name='<%= "options[#{service.id}][#{option.id}]" %>' <%= "disabled" if !@options.has_key?(service.id.to_s) %>>
                    <% option.service_option_values.each do |value| %>
                      <option value="<%= value.id %>" data-additional="<%= value.additional_cost %>" <%= "selected" if session["options"] and session["options"][service.id.to_s] && session["options"][service.id.to_s][option.id.to_s].eql?(value.id.to_s) %>><%= value.name %></option>
                    <% end %>
                  </select><br><br>
                <% end %>
              <% end %>
            </div>
          </div>     
        <% end %>
        <br>        
        <a class="btn btn-primary next">next</a>
      </fieldset>
      <header class="stripe no-margin order">
        <span>2</span><h1>Customer Information</h1>
        <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
        <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
        <div class="img-shadow left top"><%= image_tag("shadow-top-left.png") %></div>
        <div class="img-shadow right top"><%= image_tag("shadow-top-right.png") %></div>
      </header>        
      <fieldset class="main-content" id="user">
        <p>Please fill out all of the fields below:</p>
        <div class="left">
          <div class="control-group">
            <label class="control-label" for="first-name">First Name</label>
            <div class="controls">
              <input type="text" id="first-name" name="first-name" <%= form_value(session["first-name"]) %>>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="last-name">Last Name</label>
            <div class="controls">
              <input type="text" id="last-name" name="last-name" <%= form_value(session["last-name"]) %>>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
              <input type="text" id="email" name="email" <%= form_value(session["email"]) %>>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="telephone">Phone Number</label>
            <div class="controls">
              <input type="text" id="telephone" name="telephone" <%= form_value(session["telephone"]) %>>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="control-group">
            <label class="control-label" for="building">Building Number</label>
            <div class="controls">
              <input type="text" id="building" name="building" <%= form_value(session["building"]) %>>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="street">Street Name</label>
            <div class="controls">
              <input type="text" id="street" name="street" <%= form_value(session["street"]) %>>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="town">Town</label>
            <div class="controls">
              <input type="text" id="town" name="town" <%= form_value(session["town"]) %>>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="postcode">Postcode</label>
            <div class="controls">
              <input type="text" id="postcode" name="postcode" <%= form_value(session["postcode"]) %>>
            </div>
          </div>
        </div>
        <div style="clear:both;"></div>
        <a class="btn back">back</a>
        <a class="btn btn-primary next">next</a>
      </fieldset>
      <header class="stripe no-margin order <%= 'active' if params[:back] %>">
        <span>3</span><h1>Collection Arrangements</h1>
        <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
        <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
        <div class="img-shadow left top"><%= image_tag("shadow-top-left.png") %></div>
        <div class="img-shadow right top"><%= image_tag("shadow-top-right.png") %></div>        
      </header>      
      <fieldset class="main-content" id="collection">
        <p>Please select a convenient day for collection:</p>
        <div id="datepicker"></div>
        <input type="hidden" name="date"  id="date"/>
        <!--<p>Please select a convenient time for collection:</p>
        <%= select_time(nil, :prefix => "time") %>-->
        <br><br>
        <a class="btn back">back</a>
        <%= submit_tag :next, :class => "btn btn-primary" %>        
      </fieldset>
      <header class="stripe no-margin order">
        <span>4</span><h1>Summary</h1>  
        <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
        <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
        <div class="img-shadow left top"><%= image_tag("shadow-top-left.png") %></div>
        <div class="img-shadow right top"><%= image_tag("shadow-top-right.png") %></div>             
      </header>           
      <header class="stripe no-margin order">
        <span>5</span><h1>Payment</h1>    
      </header>        
      <footer class="stripe no-margin">   
      </footer>
    <% end %>
</div>