    <div id="slider" class="clearfix">
        <article class="first active">
            <header>
                <%= image_tag("slider-shadow-top-left.png", :class => "left top") %>
                <%= image_tag("slider-shadow-top-right.png", :class => "right top") %>
                <%= image_tag("slider-shadow-bottom-left.png", :class => "left bottom") %>
                <%= image_tag("slider-shadow-bottom-right.png", :class => "right bottom") %>
                <span>1</span>
            </header>
            <div class="content clearfix">
                <div class="pull-left">
                    <h1>Welcome!</h1>
                    <p>
                        Welcome to Cheaper Computer Care!
                        We specialize in providing quality computing services with the best prices and easy convenience for our customers.
                    </p>
                    <p>
                        No.1 in PC Services across the UK, offering a strict No Fix No Fee service.
                    </p>
                    <p>
                        No.1 for Student discounts!
                    </p>
                    <p>
                        No.1 for servicing convenience - offering the 1st and only free home collection and return service. 
                    </p>
                    <%= link_to "more info", services_path, :class => "btn btn-medium" %>
                </div>
                <div class="pull-left image">
                    <%= image_tag("bob-thumbs-up.png") %>
                </div>
            </div>
        </article>
        <article class="second collapsed">
            <header>
                <%= image_tag("slider-shadow-top-left.png", :class => "left top") %>
                <%= image_tag("slider-shadow-top-right.png", :class => "right top") %>
                <%= image_tag("slider-shadow-bottom-left.png", :class => "left bottom") %>
                <%= image_tag("slider-shadow-bottom-right.png", :class => "right bottom") %>
                <span>2</span>
            </header>
            <div class="content clearfix">
                <div class="pull-left">
                    <h1>Data Recovery Specialist</h1>
                    <p>
                        If you have lost important data due to a corrupt file, system failure, virus or simply due to accidental deletion we are here to help.
                    </p>
                    <p>
                        Using specialist forensic techniques we can successfully recover data from all major mediums even if you PC doesn't boot!
                    </p>
                    <p>
                        We can successfully recover from the following:
                    </p>
                    <ul>
                        <li>Internal and External Hard Drives</li>
                        <li>USB Memory Sticks</li>
                        <li>Camera Memory Cards</li>
                        <li>Even mobile phone memory</li>
                    </ul>
                    <%= link_to "more info", data_recovery_services_path(:anchor => "main-service"), :class => "btn btn-medium" %>
                </div>
                <div class="pull-left image">
                    <%= image_tag("bob-with-a-pencil.png") %>
                </div>
            </div>
        </article>
        <article class="third collapsed">
            <header>
                <%= image_tag("slider-shadow-top-left.png", :class => "left top") %>
                <%= image_tag("slider-shadow-top-right.png", :class => "right top") %>
                <%= image_tag("slider-shadow-bottom-left.png", :class => "left bottom") %>
                <%= image_tag("slider-shadow-bottom-right.png", :class => "right bottom") %>
                <span>3</span>
            </header>
            <div class="content clearfix">
                <div class="pull-left">
                    <h1>Virus Removal</h1>
                    <p>
                        When those viruses infect your computer it can be a real pain and inconvenience trying to put it right again.  We are here to ensure your computer is running at its best and virus free.
                    </p>
                    <ul>
                        <li>Offering free secure collection and delivery right back ti your doorstep, let us put things right again.</li>
                    </ul>
                    <%= link_to "more info", virus_removal_services_path(:anchor => "main-service"), :class => "btn btn-medium" %>
                </div>
                <div class="pull-left image">
                    <%= image_tag("worried-bob.png") %>
                </div>
            </div>
        </article>
        <article class="fourth collapsed">
            <header>
                <%= image_tag("slider-shadow-top-left.png", :class => "left top") %>
                <%= image_tag("slider-shadow-top-right.png", :class => "right top") %>
                <%= image_tag("slider-shadow-bottom-left.png", :class => "left bottom") %>
                <%= image_tag("slider-shadow-bottom-right.png", :class => "right bottom") %> 
                <span>4</span>
            </header>
            <div class="content clearfix">
                <%= image_tag("newsletter.png", :id => "newsletter-background") %>
                <%= form_for @newsletter_user, :id => "newsletter-form" do |f| %>
                    <h4>Notify me!</h4>
                    <p>Join our newsletter</p>
                    <%= f.email_field :email %><br>
                    <%= f.submit :register, :class => "btn btn-medium" %>
                <% end %>                
                <div class="pull-left">
                    <h1>Exclusive Offers</h1>
                    <p>
                        We are currently revising our product offers, please enter your email below to be kept up to date and receive exclusive offers.
                    </p>
                </div>
            </div>
        </article>    
        <article class="fifth collapsed">
            <header>
                <%= image_tag("slider-shadow-top-left.png", :class => "left top") %>
                <%= image_tag("slider-shadow-top-right.png", :class => "right top") %>
                <%= image_tag("slider-shadow-bottom-left.png", :class => "left bottom") %>
                <%= image_tag("slider-shadow-bottom-right.png", :class => "right bottom") %> 
                <span>5</span>
            </header>
            <div class="content clearfix">
                <div class="pull-left">
                    <h1>Saving Even More!</h1>
                    <p>
                        As if our prices weren't cheap enough we even offer 15% Student Discount for all services.
                    </p>
                    <button class="btn">register</button>
                </div>
                <div class="pull-left image">
                    <%= image_tag("bob-in-shades.png") %>
                </div>
            </div>
            <footer>
                <%= image_tag("slider-shadow-top-right.png", :class => "right top") %>
                <%= image_tag("slider-shadow-bottom-right.png", :class => "right bottom") %>
            </footer>
        </article>             
    </div>