<header class="stripe">
  <h1>Contact Us</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>  
</header> 
<div id="main-content"> 
  <div class="service">
    <div id="contact">
      <div class="pull-left">
        <p>
          If you have any questions please fill out the form below and we will be happy to help. 
        </p>
        <%= form_tag send_path do %>
          <input type="text" name="blanktest" style="position:absolute;left:-2999px" value="">
          <input type="text" name="tokentest" style="position:absolute;left:-2999px" value="<%= session[:spam_token] %>">          
          <input type="text" required class="input" id="contact_name" placeholder="Name" name="name"><br>
          <input type="text" required class="input" id="contact_email" placeholder="Email" name="email"><br>
          <input type="text" required class="input" id="contact_number" placeholder="Contact Number" name="phone"><br>
          <textarea class="input" required placeholder="Message" id="contact_message" name="message"></textarea><br>
          <input type="submit" class="btn btn-success btn-large">
        <% end %>
      </div>
      <div class="pull-right">
        <p>
          Cheaper Computer Care is based in 
London but operates all over the UK.
        </p>
        <div class="center">
          <%= image_tag("bob-letter.png") %>
        </div>
      </div>
    </div>
  </div>
</div>
