<% if flash[:notice] %>
    <div id="notice" style="display:none;">
        <%= flash[:notice] %>
    </div>
<% end %>
<div id="slider-container" class="clearfix">
    <div id="slider">
        <article class="first active">
            <header><span>1</span></header>
            <div class="content clearfix">
                <div class="pull-left">
                    <h1 class="yellow">Welcome!</h1>
                    <p>
                        Welcome to Cheaper Computer Care!
                        We specialize in providing quality computing services with the best prices and easy convenience for our customers.
                    </p>
                    <p>
                        <span class="yellow">No.1</span> in PC Services across the UK, offering a strict No Fix No Fee service.
                    </p>
                    <p>
                        <span class="yellow">No.1</span> for Student discounts!
                    </p>
                    <p>
                        <span class="yellow">No.1</span> for servicing convenience - offering the 1st and only free home collection and return service. 
                    </p>
                    <%= link_to "View All Services", services_path, :class => "btn btn-medium" %>
                </div>
                <div class="pull-left image">
                    <%= image_tag("bob-thumbs-up.png") %>
                </div>
            </div>
        </article>            
    </div>
</div>

<br><br><br>
<%= image_tag("large-shadow.png", :id => "slider-shadow") %>
<br>
<hr class="dark">

<div class="info-box">
    <p>Strict <b>No Fix No Fee</b> policy! <b>100%</b> Quality & Satisfaction Guaranteed.</p>
    <p><b>Free</b> Collection and Return anywhere in the UK. - <b>Book TODAY!</b></p>
    <p><b>Free</b> 30 Day Warranty with all repairs.</p>
</div>

<div id="certified">
    <%= image_tag("bob-acrbo.png") %>
    <p>We are a registered member with the</p>
    <p>Association of Computer Repair Business Owners.</p>
</div>