<div id="main-content">
  <header>
    <h1>New Service Option Value for <%= @option.name %></h1>
  </header>
  <div class="service">
    <%= link_to "back", admin_service_path(@service.id) %>

    <%= form_for [:admin, @service, @option, @value] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %><br><br>
      <%= f.submit :submit, :class => "btn" %>
    <% end %>
  </div>
</div>
