<header class="stripe">
  <h1>Admin Dashboard</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>  
</header>
<div id="main-content">
  <div class="service">
    <%= link_to "Orders", admin_orders_path %><br>
    <%= link_to "Services", admin_services_path %><br>
    <%= link_to "Newsletter Subscribers", admin_newsletter_users_path %><br>
    <%= link_to "Registered Student Discounts", admin_student_codes_path %><br>
    <%= link_to "Tip of the Week archive", admin_tips_path %><br>
    <%= link_to "Discount Codes", admin_discount_codes_path %>
    <br><br>
    <%= form_tag session_path(session[:user_id]), :method => :delete do %>
      <%= submit_tag "log out", :class => "btn" %>
    <% end %>
  </div>
</div>
