<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%= stylesheet_link_tag "application", :media => "all" %>        
        <!--<link rel="stylesheet" href="css/bootstrap.min.css">        
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">-->

        <!--<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>-->
        <%= javascript_include_tag "modernizr-2.6.2-respond-1.1.0.min.js" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header class="main">
            <div class="row-fluid">
                <div class="span10 offset1">
                    <a href="<%= root_path %>"><h1 class="pull-left"><em>C</em>heaper <em>C</em>omputer <em>C</em>are</h1></a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10 offset1 wrapper">
                    <nav id="main-nav" class="clearfix">
                        <%= home_link %>
                        <ul class="unstyled pull-left inline">
                            <li class="<%= is_active('services') %>">
                                <%= image_tag("left-wing.png", :class => "hover-img left") %>
                                <%= image_tag("right-wing.png", :class => "hover-img right") %>
                                <%= link_to "Services", services_path %>
                            </li>
                            <li class="<%= is_active('pages', 'contact') %>">
                                <%= image_tag("left-wing.png", :class => "hover-img left") %>
                                <%= image_tag("right-wing.png", :class => "hover-img right") %>
                                <%= link_to "Contact", contact_path %>
                            </li>
                            <li class="<%= is_active('pages', 'about') %>">
                                <%= image_tag("left-wing.png", :class => "hover-img left") %>
                                <%= image_tag("right-wing.png", :class => "hover-img right") %>
                                <%= link_to "About", about_path %>
                            </li>
                        </ul>
                        <ul class="unstyled pull-right inline">
                            <li class="<%= is_active('pages', 'offers') %>">
                                <%= image_tag("left-wing.png", :class => "hover-img left") %>
                                <%= image_tag("right-wing.png", :class => "hover-img right") %>
                                <%= link_to "Offers", offers_path %>
                            </li>
                            <li class="<%= is_active('pages', 'faq') %>">
                                <%= image_tag("left-wing.png", :class => "hover-img left") %>
                                <%= image_tag("right-wing.png", :class => "hover-img right") %>
                                <%= link_to "FAQ", faq_path %>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="row-fluid">
            <div class="span10 offset1 wrapper main">
                <%= yield %>
            </div>
        </div>
        <div class="row-fluid">
            <footer>
                <div class="span10 offset1">
                    <hr>
                    <nav>
                        <ul class="unstlyed inline">
                            <li><%= link_to "Home", root_path %></li> |
                            <li><%= link_to "Services", services_path %></li> |
                            <li><%= link_to "Contact", contact_path %></li> |
                            <li><%= link_to "About", about_path %></li> |
                            <li><%= link_to "T's & C's", terms_path %></li>
                        </ul>
                    </nav>          
                    <p>&copy; 2013 Cheaper Computer Care</p>
                </div>
            </footer>        
        </div>
        <%= javascript_include_tag "application" %>
    </body>
</html>
